.container5 {
    margin-bottom: $margin-ambos * 5;
}

.contacto {
    margin-top: $margin-ambos * 2;
    margin-bottom: -50px;
    color: rgb(133, 47, 47);
    font-family: $font-3;
    font-size: 70px;

}