.container4 {
    margin-top: 100px;
    margin-bottom: 30px;
}

.h1 {
    font-family: $font-3;
    color: $color-hover;
    margin-top: -70px;
    font-size: 50px;
}

.container5 {
    padding-left: 0;
    padding-right: 0;
}

.section {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 280px);
    grid-template-rows: 1fr;
    grid-gap: 1em;
}

.producto {
    margin-left: 5px;
    padding: 15px;
    max-width: 280px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    border-radius: 6px;
    box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transition-property: box-shadow;
    transition-duration: 0.3s;
}

.producto:hover {
    box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.5)
}

.producto>img {
    width: 100%;
    object-fit: cover;
}

.informacion {
    border-top: 1px solid rgb(230, 230, 230);
    padding: 1em;
    display: flex;
    flex-flow: column;
}

.informacion *+* {
    margin-bottom: 0.5em;
}

.tipo-envio {
    background-color: rgb(52, 131, 250);
    color: rgb(255, 255, 255);
    font-weight: 600;
    max-width: max-content;
    padding: 0 0.2em;
    border-radius: 3px;
}

.precio {
    font-size: 1.5em;
}

.precio-envio {
    color: rgb(0, 166, 80);
}

.discripcion,
.ubicacion {
    font-weight: 300;
}

.precio-envio,
.descipcion,
.ubicacion {
    font-size: 0.9em;
}

.aos {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: $font-3;
    font-size: 20px;
    background-color: $color-1;
    color: $color-hover;
    width: $ancho * 12;
    height: $alto * 4;
    margin-left: 10px;
}