$color-body: #875E4C;
$color-prisinpal2:#646c7c;
$color-letra:rgb(85, 54, 54);
$color-hover:#fff;
$color-1:rgb(104, 77, 77);
$color-2:rgb(182, 167, 167);
$margin-ambos:10px;
$text:none;
$text1:center;
$font-1:'Padauk',
sans-serif;
$font-2:'Lucida Sans';
$font-3: 'Lora',
serif;
$font-4: 'Mate',
serif;
$font-5:'Courier New',
Courier,
monospace;
$ancho: 50px;
$alto: 50px;