@import url('https://fonts.googleapis.com/css2? family = Arimo & family = Be + Vietnam + Pro: ital, wght @ 1,100 & family = Lora: ital, wght @ 1,500 & family = Mate & family = Padauk & family = Fuente + Serif + 4: wght @ 300 & display = swap ');
@import url('https://fonts.googleapis.com/css2? family = Arimo & family = Lora: ital, wght @ 1,500 & family = Mate & family = Padauk & family = Fuente + Serif + 4: wght @ 300 & display = swap ');
@import url('https://fonts.googleapis.com/css2? family = Lora: ital, wght @ 1,500 & family = Mate & family = Padauk & family = Source + Serif + 4: wght @ 300 & display = swap ');
@import url('https://fonts.googleapis.com/css2? family = Lora: ital, wght @ 1,500 & family = Padauk & family = Source + Serif + 4: wght @ 300 & display = swap');
@import url('https://fonts.googleapis.com/css2? family = Padauk & family = Fuente + Serif + 4: wght @ 300 & display = swap');
@import "_variables";
@import "_nav";
@import "_footer";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-principal;
}

.jumbotron h1 {
    color: $color-letra;
    font-family: $font-1;
}

.jumbotron p {
    color: $color-letra;
    font-family: $font-1;
    font-size: 20px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.row .card-body {
    background-color: rgb(114, 101, 101);
    color: honeydew;
}

.jumbotron {
    border-radius: 0;
    height: $alto * 8;
    background-image: url(../img/logosecundario.jpg);
    background-position: center;
    background-size: cover;

}

.card .parrafo {
    font-size: 15px;
    color: $color-hover;
    font-family: $font-2;
}

#facilities {
    padding: 30px 0px;
}

#facilities h2 {
    color: rgb(90, 63, 63);
    padding-bottom: 5px;
    font-family: $font-2;
}

.title {
    text-align: center;
    padding: 25px 0px;
}

.title p {
    font-size: 18px;
}

.card-body {
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.1);
}

.card {
    margin: 20px $margin-ambos;
}

$animal: elefante;

h2 {
    @if $animal==elefante {
        font-size: 50px;
        color: rgb(151, 72, 58);
        margin-bottom: 20px;
    }

    @else if $animal==gato {
        color: teal;
    }

    @else if $animal==caballo {
        color: green;
    }

    @else {
        color: coral;
        background-color: #333;
    }
}

@for $i from 1 through 3 {
    .bucle-#{$i} {
        width: $ancho * 8;
        height: $alto * 5;
        background-color: peru;
        border: 2px solid #333;
        text-align: center;
        font-size: 30px;
        padding: 30px;
    }
}

$base-color:#036;
$base-color:#3ff;

@for $in from 1 through 3 {
    .bucle-#{$in} {
        background-color: lighten($base-color, $in * 10%);
        background-color: darken($base-color, $in * 10%);
    }
}

$breakpoints: (sm : 540px,
    md : 768px,
    lg : 1024px,
    xl : 1280px);

@mixin media-up($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }

    @else {
        @warn "el valor '#{breakpoint}' no ha sido declarado como breakpoint";
    }


}

.container7 {
    background-color: $color-2;
    background-image: url(../img/logo.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    height: $alto * 8;
    width: auto;
    box-shadow: 0 0 20px rgba(#000000, 0.6);
    transition: all 400ms ease;

    @include media-up(sm) {
        transform: scale(0.5);
        margin-top: 30px;
    }

    @include media-up(md) {
        transform: scale(0.5);

    }

    @include media-up(lg) {
        transform: scale(0.5);
    }

    @include media-up(xl) {
        transform: scale(0.5);
    }

    @include media-up(xxl) {
        transform: scale(0.5);
    }
}

.bg {
    background-image: url(../img/logo.jpeg);
    background-position: center center;
    background-size: cover;
    margin-top: $margin-ambos;
    margin-bottom: $margin-ambos;
    border-radius: 5px;
}

.bg1 {
    margin-top: $margin-ambos;
    margin-bottom: $margin-ambos;
    border-radius: 5px;
}

/* producto */
.container4 {
    margin-top: 100px;
    margin-bottom: 30px;
}

.h1 {
    font-family: $font-3;
    color: rgb(155, 151, 151);
    background-color: rgb(94, 91, 91);
    margin-top: -70px;
}

.container5 {
    padding-left: 0;
    padding-right: 0;
}

.section {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 280px);
    grid-template-rows: 1fr;
    grid-gap: 1em;
}

.producto {
    margin-left: 5px;
    padding: 15px;
    max-width: 280px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    border-radius: 6px;
    box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transition-property: box-shadow;
    transition-duration: 0.3s;
}

.producto:hover {
    box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.5)
}

.producto>img {
    width: 100%;
    object-fit: cover;
}

.informacion {
    border-top: 1px solid rgb(230, 230, 230);
    padding: 1em;
    display: flex;
    flex-flow: column;
}

.informacion *+* {
    margin-bottom: 0.5em;
}

.tipo-envio {
    background-color: rgb(52, 131, 250);
    color: rgb(255, 255, 255);
    font-weight: 600;
    max-width: max-content;
    padding: 0 0.2em;
    border-radius: 3px;
}

.precio {
    font-size: 1.5em;
}

.precio-envio {
    color: rgb(0, 166, 80);
}

.discripcion,
.ubicacion {
    font-weight: 300;
}

.precio-envio,
.descipcion,
.ubicacion {
    font-size: 0.9em;
}

.aos {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: $font-3;
    font-size: 20px;
    background-color: $color-1;
    color: rgb(190, 186, 186);
    width: $ancho * 12;
    height: $alto * 4;
    margin-left: 10px;
}

/* Nosotros */
.jumbotron1 {
    text-align: center;
    background-color: grey;
    height: 300px;
    font-size: 30px;
    font-family: $font-4;
}

.single-content {
    position: relative;
    transition: .3s;
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.8);
}

.single-content .text-content,
.single-content:after {
    position: absolute;
    left: 20px;
    right: 20px;
}

.single-content:after {
    content: '';
    display: block;
    background: crimson;
    top: 20px;
    bottom: 20px;
    opacity: 0;
    transition: rotate3d(-1, 1, 0, 100deg);
    transition: .4s;
}

.comentario .p .h5 {
    color: brown;
}

.slide img {
    height: 65vh;
}

.card {
    margin-top: 5px;
    background-color: rgb(109, 109, 109);
}

.card .titulo {
    font-size: 50px;
    font-family: $font-5;
    color: #fff;
}

.card .secundario {
    font-size: 25px;
    color: #fff;
    font-family: $font-2;
}

/* contacto */
.container5 {
    margin-bottom: 50px;
}

.contacto {
    margin-top: 20px;
    margin-bottom: -50px;
    color: rgb(133, 47, 47);
    font-family: $font-3;
    font-size: 70px;

}

/* galeria */
.galeri {
    color: rgb(65, 82, 65);
    font-family: $font-4;
    margin-top: 20px;
}