@import url('https://fonts.googleapis.com/css2? family = Arimo & family = Be + Vietnam + Pro: ital, wght @ 1,100 & family = Lora: ital, wght @ 1,500 & family = Mate & family = Padauk & family = Fuente + Serif + 4: wght @ 300 & display = swap ');
@import url('https://fonts.googleapis.com/css2? family = Arimo & family = Lora: ital, wght @ 1,500 & family = Mate & family = Padauk & family = Fuente + Serif + 4: wght @ 300 & display = swap ');
@import url('https://fonts.googleapis.com/css2? family = Lora: ital, wght @ 1,500 & family = Mate & family = Padauk & family = Source + Serif + 4: wght @ 300 & display = swap ');
@import url('https://fonts.googleapis.com/css2? family = Lora: ital, wght @ 1,500 & family = Padauk & family = Source + Serif + 4: wght @ 300 & display = swap');
@import url('https://fonts.googleapis.com/css2? family = Padauk & family = Fuente + Serif + 4: wght @ 300 & display = swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$color-body: #875E4C;
$color-prisinpal2:#646c7c;
$color-letra:rgb(85, 54, 54);
$color-hover:#fff;
$color-1:rgb(100, 93, 93);
$color-2:rgb(182, 167, 167);
$margin-ambos:10px;
$text:none;
$text1:center;
$font-1:'Padauk',
sans-serif;
$font-2:'Lucida Sans';
$font-3: 'Lora',
serif;
$font-4: 'Mate',
serif;
$font-5:'Courier New',
Courier,
monospace;
$ancho: 50px;
$alto: 50px;

body {
    background-color: $color-body;
    
}

.jumbotron h1 {
    color: $color-letra;
    font-family: $font-1;
}

.jumbotron p {
    color: $color-letra;
    font-family: $font-1;
    font-size: 20px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.row .card-body {
    background-color: rgb(114, 101, 101);
    color: honeydew;
}

.jumbotron {
    border-radius: 0;
    height: $alto * 8;
    background-image: url(../img/logosecundario.jpg);
    background-position: center;
    background-size: cover;

}

.card .parrafo {
    font-size: 15px;
    color: $color-hover;
    font-family: $font-2;
}

#facilities {
    padding: 30px 0px;
}

#facilities h2 {
    color: rgb(90, 63, 63);
    padding-bottom: 5px;
    font-family: $font-2;
}

.title {
    text-align: center;
    padding: 25px 0px;
}

.title p {
    font-size: 18px;
}

.card-body {
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.1);
}

.card {
    margin: 20px $margin-ambos;
}

$animal: elefante;

h2 {
    @if $animal==elefante {
        font-size: 50px;
        color: rgb(88, 68, 65);
        margin-bottom: 20px;
    }

    @else if $animal==gato {
        color: teal;
    }

    @else if $animal==caballo {
        color: green;
    }

    @else {
        color: coral;
        background-color: #333;
    }
}

@for $i from 1 through 3 {
    .bucle-#{$i} {
        width: $ancho * 8;
        height: $alto * 5;
        background-color: peru;
        border: 2px solid #333;
        text-align: center;
        font-size: 30px;
        padding: 30px;
    }
}

$base-color:#036;
$base-color:#3ff;

@for $in from 1 through 3 {
    .bucle-#{$in} {
        background-color: lighten($base-color, $in * 10%);
        background-color: darken($base-color, $in * 10%);
    }
}

$breakpoints: (sm : 540px,
    md : 768px,
    lg : 1024px,
    xl : 1280px);

@mixin media-up($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }

    @else {
        @warn "el valor '#{breakpoint}' no ha sido declarado como breakpoint";
    }


}

.container7 {
    background-color: $color-2;
    background-image: url(../img/logo.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    height: $alto * 8;
    width: auto;
    box-shadow: 0 0 20px rgba(#000000, 0.6);
    transition: all 400ms ease;

    @include media-up(sm) {
        transform: scale(0.5);
        margin-top: 30px;
    }

    @include media-up(md) {
        transform: scale(0.5);

    }

    @include media-up(lg) {
        transform: scale(0.5);
    }

    @include media-up(xl) {
        transform: scale(0.5);
    }

    @include media-up(xxl) {
        transform: scale(0.5);
    }
}

.bg {
    background-image: url(../img/logo.jpeg);
    background-position: center center;
    background-size: cover;
    margin-top: $margin-ambos;
    margin-bottom: $margin-ambos;
    border-radius: 5px;
}

.bg1 {
    margin-top: $margin-ambos;
    margin-bottom: $margin-ambos;
    border-radius: 5px;
}

@import "variables";
@import "nav";
@import "footer";
@import "galeria";
@import "contacto";
@import "nosotros";
@import "productos";